.nav-list {
    width: fit-content;
    margin: auto;
    margin-block: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4286f4;
    border-radius: 15px;
}

.nav-btn {
    width: 150px;
    padding: 15px;
    border: 1px solid transparent;
    background-color: #131d2c;
    color: #eee;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.nav-btn:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.nav-btn:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}